---
layout: default
title: About Elliot Watts
permalink: "/about/"
redirect: www.elliotwatts.com/p/about.html
navigation_weight: 1

---
<div class="jumbotron text-center text-white">
  <div class="container">
    <h1 class="display-4">Discover&nbsp;<span class="text-capitalize d-inline-block">Elliot&nbsp;</span><span class="text-capitalize font-weight-bold">Watts</span></h1>
    <p>Find out why thousands of readers are fans of my books<br>become one, too</p>
    <a class="btn btn-primary my-button text-uppercase" role="button" href="/books/">Find your next favorite book</a>
  </div>
</div>

{% include _about.html %}

{% include _latest-releases.html %}

{% include _curious.html %}