---
layout: default
title: Contact Elliot Watts
permalink: /connect/
navigation_weight: 5
---

<div class="jumbotron text-center text-white">
  <div class="container">
    <h1 class="display-4">Contact <span class="text-capitalize d-inline-block">Elliot&nbsp;</span><span class="text-capitalize font-weight-bold">Watts</span></h1>
    <p>I like to connect with my fans as much as possible. Find out why thousands of readers are fans of my books<br>become one, too</p>
    <a class="btn btn-primary my-button text-uppercase" role="button" href="/books/">Find Your Next Favorite Book</a>
  </div>
</div>

{% include _connect.html %}

{% include _latest-releases.html %}

{% include _curious.html %}
