<section id="about-author" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col col-sm-12">
        <h2 class="font-weight-bold text-center text-md-left pb-3">About<span class="font-weight-normal">&nbsp;Elliot</span><span>&nbsp;Watts</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col text-center text col-12 col-lg order-1 order-lg-2"><img class="text-center rounded-circle" src="/assets/img/Elliot-Watts.jpg"></div>
      <div class="col text-center text-sm-left col-12 col-lg order-2 order-lg-1">
        <h3 class="font-weight-bold">Hi, present and future fans!</h3>
        <p>I'm a Science Fiction author, a husband, and a dad to two awesome kids. My family and I currently live in South East Asia. I spend many of my days relaxing under an umbrella on a beach somewhere, but I'm dreaming I'm on a cold starship headed for another world in a solar system far away.<br></p>
        <p>Since I'm not able to do things like that in real life, I write stories that take me to these places in my mind.<br></p>
        <p>Thanks for stopping by and don't forget to sign up for my
          <a href="/newsletter/">newsletter</a>
          <a href="/newsletter/"></a>to keep up with my book releases and more.<br></p>
      </div>
    </div>
  </div>
</section>
