<section id="book-gallery" class="py-5">
  <div class="container">
    <h1 class="display-4 text-center font-weight-bold pt-5">My Available Books</h1>
    <div class="filtr-controls">
      <span class="active" data-filter="all">all</span>
      <span data-filter="1">science fiction</span>
      <span data-filter="2">military sci-fi</span>
      <span data-filter="3">space opera</span>
    </div>
    <div class="row filtr-container">
      {% for book in site.books | where : 'published',
      book.published or where : 'pre_release_date',
      book.pre_release_date %}
        {% assign published = book.published %}
        {% assign pre_release_date = book.pre_release_date %}
        {% if published or pre_release_date %}
          <div class="col-sm-6 col-md-4 col-lg-3 filtr-item" data-category="{{ book.genre_categories }}">
            <a href="{{ book.url }}"><img class="img-fluid" src="{{ book.image_path }}"></a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
