<section id="connect" class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2 class="font-weight-bold text-center text-lg-left">Connect w/<span
            class="font-weight-normal">Elliot</span><span>&nbsp;Watts</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col text-center text col-12 col-lg d-flex align-items-center justify-content-center">
        <div class="connect-socials">
          <a class="my-transition" href="https://www.facebook.com/TheElliot/">
            <i class="fab fa-facebook"></i></a>
          <a class="my-transition" href="https://twitter.com/theelliotwatts">
            <i class="fab fa-twitter-square"></i></a>
        </div>
      </div>
      <div class="col text-center text-sm-left col-sm-12 col-lg">
        <h3 class="font-weight-bold">Thanks for wanting to get in touch with me!</h3>
        <p>I currently connect on Twitter or Facebook and directly through my newsletter.&nbsp;Please feel free to
          follow me on and connect through those platforms.<br></p>
        <p>
          <a href="/newsletter/">Sign up for my newsletter</a>. Members receive first notice of all my releases. During
          my pre-release the price is always initally the lowest.<br></p>
        <p>Thanks for stopping by, come again soon.<br></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col sign-up py-3">
        <a class="btn btn-lg my-button my-transition" href="/newsletter/">SIGNUP FOR MY NEWSLETTER!</a>
      </div>
    </div>
  </div>
</section>