<section id="featured-posts" class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col text-md-left pb-3">
        <h2 class="display-4">Featured Posts</h2>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex flex-column col-12 col-md-4 py-2">
        <article class="d-flex flex-column flex-grow-1"><img class="align-self-center img-fluid">
          <div class="flex-grow-1">
            <h3 class="pt-3 text-md-left">Post Title</h3>
            <p class="text-md-left">This is a blurb for the post. Put whatever is supposed to be here for a excerpt.</p>
          </div>
          <footer class="justify-content-end">
            <span class="d-flex d-lg-flex justify-content-end time-to-read">3 min read</span></footer>
        </article>
      </div>
      <div class="col flex-column col-12 col-md-4 py-2">
        <article class="d-flex flex-column flex-grow-1"><img class="align-self-center img-fluid">
          <div class="flex-grow-1">
            <h3 class="pt-3 text-md-left">Post Title</h3>
            <p class="text-md-left">This is a blurb for the post. Put whatever is supposed to be here for a excerpt. Let's expand the paragraph and make sure they all expand with it.</p>
          </div>
          <footer class="justify-content-end">
            <span class="d-flex d-lg-flex justify-content-end time-to-read">3 min read</span></footer>
        </article>
      </div>
      <div class="col d-flex flex-column col-12 col-md-4 py-2">
        <article class="d-flex flex-column flex-grow-1"><img class="align-self-center img-fluid">
          <div class="flex-grow-1">
            <h3 class="pt-3 text-md-left">Post Title</h3>
            <p class="text-md-left">This is a blurb for the post. Put whatever is supposed to be here for a excerpt.</p>
          </div>
          <footer class="justify-content-end">
            <span class="d-flex d-lg-flex justify-content-end time-to-read">3 min read</span></footer>
        </article>
      </div>
    </div>
  </div>
</section>
