<section id="latest-releases" class="section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="font-weight-bold text-center text-lg-left text-white">
          {{ section_title }}
        </h2>
      </div>
    </div>
    <div class="row">
      {% for book in site.books %}
        {% assign published = book.published %}
        {% assign pre_release_date = book.pre_release_date %}
        {% if published or pre_release_date %}
      <div class="col col-12 col-md-6 col-lg-4 text-center">
        <div class="content">
          <a
            href="{{ book.url }}"
            class="text-decoration-none my-transition box"
          >
            
            {% if pre_release_date and published == false %}
            {% if book.amazon_affiliate_url or book.amazon_url %}
            <div class="ribbon pre-release"><span>Pre-Release</span></div>
            {% endif %}
            {% endif %}
            <img src="{{ book.image_path }}" class="img-fluid" />
            <div class="p-2">
              <h3 class="latest-releases-title">{{ book.title }}</h3>
              <div class="blurb">
                <p>{{ book.content | truncate: 196, '...' }}<br /></p>
                {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
                {% capture pre_release_date %}{{book.pre_release_date | date: '%s'}}{% endcapture %}
                {% if published != true and pre_release_date > nowunix %}
                <div
                  class="bg-primary p-2 w-75 m-auto rounded percentage-complete"
                >
                  <p class="font-italic">Percentage complete</p>
                  <div class="progress my-2">
                      {% assign percentage_complete = book.percentage_complete %}
                    <div
                      class="progress-bar"
                      aria-valuenow="{{ percentage_complete }}"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: \{\{ percentage_complete \}\}\%;"
                    >
                  {{ percentage_complete }}%
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
              {% if book.amazon_affiliate_url or book.amazon_url or book.kobo_url or book.apple_books_url %}
              <div class="buy-at text-center py-3">
                <p class="font-weight-bold">
                  Buy at the following book sellers
                </p>
                <div>
                  {% if book.amazon_url %}
                  <a href="{{ book.amazon_url }}"
                    ><i class="fab fa-amazon"></i
                  ></a>
                  {% elsif book._affiliate_url %}
                  <a href="{{ book.amazon_affiliate_url }}"
                    ><i class="fab fa-amazon"></i
                  ></a>
                  {% else %}
                  {% endif %}
                  <a href="#" class="d-none"><i class="fab fa-apple"></i></a
                  ><a href="#" class="d-none"><i class="fab fa-google"></i></a>
                </div>
              </div>
              {% else %}
              <div class="buy-at text-center py-3">
                  <p class="font-weight-bold">
                    {% if book.pre_release_date %}
                    pre-release date coming soon!
                    {% else %}
                    release date coming soon!
                    {% endif %}
                  </p>
              </div>
              {% endif %}
            </div>
          </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row bg-primary">
      <div class="col text-center mt-4">
        <a
          href="/books/"
          class="btn btn-lg my-button my-transition text-uppercase"
          >See More Of My Books</a
        >
      </div>
    </div>
  </div>
</section>
