<section id="latest-posts" class="section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="font-weight-bold text-center text-md-left">
          Latest From My Blog
        </h2>
      </div>
    </div>
    <div class="row latest-posts">
      <div class="col text-center col-12 col-lg">
        <img class="img-fluid" />
        <h3 class="font-weight-bold latest-post-title">Post Title One</h3>
        <p class="latest-post-exerpt">Excerpt from blog post one.</p>
      </div>
      <div class="col text-center col-12 col-lg">
        <img class="img-fluid" />
        <h3 class="font-weight-bold latest-post-title">Post Title Two</h3>
        <p class="latest-post-exerpt">Excerpt from blog post two.</p>
      </div>
      <div class="col text-center col-12 col-lg">
        <img class="img-fluid" />
        <h3 class="font-weight-bold latest-post-title">Post Title Three</h3>
        <p class="latest-post-exerpt">Excerpt from blog post three.</p>
      </div>
    </div>
  </div>
</section>
