<section id="my-books" class="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="font-weight-bold text-center text-md-left">My Books Are</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center col-12 col-md"><i class="fas fa-coffee bg-primary icon-bg rounded-circle"></i>
                <h3 class="font-weight-bold my-books-title">Familiar</h3>
                <p>Genres are familiar,<br>but unique</p>
            </div>
            <div class="col text-center col-12 col-md"><i
                    class="fas fa-fast-forward bg-primary icon-bg rounded-circle"></i>
                <h3 class="font-weight-bold my-books-title">Short Reads</h3>
                <p>My books are novella length<br>or less - read in an evening</p>
            </div>
            <div class="col text-center col-12 col-md"><i class="far fa-heart bg-primary icon-bg rounded-circle"></i>
                <h3 class="font-weight-bold my-books-title">Kick Ass</h3>
                <p>I do my best to write<br>what my fans want</p>
            </div>
        </div>
    </div>
</section>