<section class="d-flex flex-column justify-content-between" id="hero">
    <div class="d-xl-flex" id="hero-top">
        {% include _navbar.html %}
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-capitalize text-center text-white text-left" style="font-family: Syncopate, sans-serif;"><span class="text-capitalize">Elliot</span><span class="font-weight-bold text-capitalize">&nbsp;Watts</span></h1>
                    <p class="text-white">Military Science Fiction &amp; Space Opera</p>
                </div>
            </div>
        </div>
    </div>
    <div id="hero-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="hero-down" class="text-center"><a href="#my-books"><i class="fas fa-arrow-down d-xl-flex align-items-center justify-content-xl-center"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</section>