// 1. Avoid the IE10-11 'min-height' bug.
// 2. Set the 'flex-shrink' to '0' to prevent some browsers from letting these items shrink to smaller than their content's default minimum size. See See http://bit.ly/1Mn35US for details.
// 3. Use '%' instead of 'vh' since 'vh' is buggy in older mobile Safari.

.Site {
    display: flex;
    flex-direction: column;
    // 1
    height: 100%;

    &-footer,
    &-header {
        // 2
        flex: none;
    }

    &-content {
        // 2
        flex: 1 0 auto;
        padding: var(--space) var(--space) 0; // TODO: come back to me and fix the padding with the correct values
        width: 100%;

        &::after {
            content: '\00a0'; // &nbsp;
            display: block;
            margin-top: var(--space); //TODO: come back to me and fix the padding with the correct values
            height: 0;
            visibility: hidden;
        }

        &--full {
            padding: 0;

            &::after {
                content: none;
            }
        }
    }
}
@media (--break-lg) {
    .Site {
        &-content {
            padding-top: var(--space-lg);

            &::after {
                margin-top: var(--space-lg);
            }
        }
    }
}
