.container {
	//min-width: 830px;
	//max-width: 830px;
	min-width: 1170px;
	max-width: 1170px;
	 // max-width in px needed for IE8 only as fallback, find a sass mixin for this
	//width: 880px; 
}

.demo {
  padding: 1em;
  width: auto; // can keep this width: auto; for all non-modern browsers?
}

.grid--table {
	display: table;
	height: 100%;
	width: 100%;
	padding: 0;
	height: 100%;
}
.grid {
  display: table-row;
  width: 100% !important;
  height: 100%; // needed?
}

.grid__cell {
  display: table-cell;
  height: 100%;
  overflow: hidden; // This fixes shit for IE8 for the phantom padding!!!!!!!
	div {
		height: 100%; // maybe use flexbox property to fill the column height??? 
	}
}

.fill-it-up {
	// this is used to dynamically calculate the height of grid-cell for IE9 and IE8
	// maybe use flexbox to fill column height for uneven heights in grid-cells on the same row?
}

.grid--top .grid__cell {
	vertical-align: top;
}

.grid--center .grid__cell {
	vertical-align: middle;
}

.grid--bottom .grid__cell {
	vertical-align: bottom;
}

.grid__cell--top {
	vertical-align: top;
}

.grid__cell--center {
	vertical-align: middle;
}

.grid__cell--bottom {
	vertical-align: bottom;
}

@media (max-width: 24em) { // IE8 only need breakpoints in px not em?

	.small-grid--fit {
		.grid__cell {
			display: block;
			width: 100% !important; // IE8 and IE9 only!!! maybe needed???
		}
	}

}


@media (max-width: 36em) { // IE8 only need breakpoints in px not em?

	.med-grid--fit {
		.grid__cell {
			display: block;
			width: 100% !important; // IE9 and IE8 only!!! maybe needed???
		}
	}

}


@media (max-width: 48em) { // IE8 only need breakpoints in px not em?

	.large-grid--fit {
		.grid__cell {
			display: block;
			width: 100% !important; // IE8 and IE9 only!!! maybe needed???
		}
	}
}




